In [1]:
import pandas as pd
import numpy as np
s='pythonisgood'
s[1]

'y'

In [2]:
l=['s','m','a','b']

In [3]:
# list: from the second one to the second last
l[1:-1]

['m', 'a']

In [4]:
# list: from the first one to the second last
l[0:-1]

['s', 'm', 'a']

In [5]:
# list: from the first one to the second last
l[:-1]

['s', 'm', 'a']

In [6]:
# list: the last one
l[-1]

'b'

In [7]:
# list: the second last
l[-2]

'a'

In [8]:
# dataframe
df = pd.DataFrame({'a':range(1,5), 'b':['a','b','c','d']})

df

   a  b
0  1  a
1  2  b
2  3  c
3  4  d

In [9]:
#dataframe from the first row to the second last row
df.iloc[0: -1]

   a  b
0  1  a
1  2  b
2  3  c

In [10]:
#dataframe first row and last column
df.iloc[0, -1]

'a'

In [11]:
#dataframe first row
df.iloc[0]

a    1
b    a
Name: 0, dtype: object

In [12]:
#array
import numpy
m=np.array([[ 'cat',  'boy', 'bird',  'mat'],
       [ 'red',  'green',  'yellow',  'purple'],
       [ '0',  '1',  '2',  '3'],
       ])

In [13]:
m

array([['cat', 'boy', 'bird', 'mat'],
       ['red', 'green', 'yellow', 'purple'],
       ['0', '1', '2', '3']],
      dtype='<U6')

In [14]:
# array from first row to the second last row
m[0:-1]

array([['cat', 'boy', 'bird', 'mat'],
       ['red', 'green', 'yellow', 'purple']],
      dtype='<U6')

In [15]:
# array first row and last column
m[0,-1]

'mat'